body {
  background-image: url('space.png');
  background-size:cover;
  margin: 0;
  font-family: 'SF Distant Galaxy';
  width: 100%;
}


#header{
  display:flex;
  flex-direction: column;

  #heading {
    width: 100%;
    padding: 32px;
    letter-spacing: 4px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: white;
      letter-spacing: 5px;
    }
  }
}

.border {
  background: linear-gradient(190deg, gray, 100%, black);
  height: 2px;
  width: 95%;
}



#progress-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress {
  font-size: 3em;
  color: white;
}

#scene{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

#button{
  height: 75px;
  width: 75px;
  margin: 2px auto;
  color:white;
  display: flex;
  flex-direction:row;
  * { 
    margin-left: 12px;
  }
}

#canvas{
  border:2px solid white;
  margin-top: 150pt;
  width: 100%;
}